---
import {Icon} from "astro-icon/components";

interface Props {
    id: string,
    action: string,
    title: string,
    submitText?: string,
    submitBackground?: string,
    submitColor?: string
}

let {id, action, title, submitText, submitBackground, submitColor} = Astro.props;
if (!submitText) {
    submitText = "Uložit změny";
}
if (!submitColor) {
    submitColor = "black";
}
if (!submitBackground) {
    submitBackground = "lightskyblue";
}
---
<dialog id={id}>
    <button class="close-modal xmark-top" title="uzavřít">
        <Icon name="iconoir:xmark" size={20} />
    </button>
    <form method="POST">
        <input type="hidden" name="action" value={action}>
        <h3>{title}</h3>
        <slot/>
        <div class="form-actions">
            <button type="submit" class="btn btn-submit" style={`background-color: ${submitBackground}; color: ${submitColor}`}>{submitText}</button>
            <button type="button" class="btn btn-secondary close-modal">Zrušit</button>
        </div>
    </form>
</dialog>

<style>
    dialog {
        background-color: #f9f9f9;
        padding: 25px;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        border: none;
        min-width: 400px;
        position: fixed;
    }

    dialog::backdrop {
        background-image: linear-gradient(45deg,
        #5e35b1,
        #673AB7,
        darkmagenta,
        rebeccapurple
        );
        opacity: 0.7;
    }

    .xmark-top {
        position: absolute;
        top: 10px;
        right: 10px;
        background: none;
        border: none;
        cursor: pointer;
    }
</style>